In [4]:
import numpy as np

# Exemplo 1

In [5]:
arr = np.array([12.99, 15.99 , 10.99, 5.99, 20.99, 4.99, 7.99, 13.99, 2.99, 6.99, 11.99])
arr

array([12.99, 15.99, 10.99,  5.99, 20.99,  4.99,  7.99, 13.99,  2.99,
        6.99, 11.99])

### Extrair valores menores que 12

In [6]:
bol = arr < 12

In [7]:
bol

array([False, False,  True,  True, False,  True,  True, False,  True,
        True,  True])

In [8]:
arr[bol]

array([10.99,  5.99,  4.99,  7.99,  2.99,  6.99, 11.99])

# Exemplo 2

In [16]:
array = np.random.randint(1, 10, 24)
company_data = array.reshape(6, 4)
company_data

array([[3, 4, 2, 2],
       [1, 3, 3, 4],
       [7, 9, 2, 8],
       [9, 8, 3, 5],
       [8, 6, 3, 1],
       [5, 6, 7, 4]])

* Cada linha representa o lucro em mil reais de uma  empresa e cada coluna representa um trimestre, pegue da segunda a quarta empresa nos 2 primeiros trimestres do ano

In [21]:
company_data[1:4 ,:2]

array([[1, 3],
       [7, 9],
       [9, 8]])