In [41]:
import numpy as np
import pandas as pd

### Pré configuração

In [42]:
np.random.seed(101)

In [43]:
data = np.random.randn(5, 4)
data

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [44]:
index = 'A B C D E'.split()
index

['A', 'B', 'C', 'D', 'E']

In [45]:
columns = 'W X Y Z'.split()
columns

['W', 'X', 'Y', 'Z']

# Criando um DataFrame

In [46]:
df = pd.DataFrame(data = data, index = index, columns = columns)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Acessando dados do DataFrame

In [47]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [48]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

# Criando nova coluna

In [49]:
df['new'] = df['W'] + df['X']

In [50]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

# Deletando uma coluna
* Por padrão o drop deleta linhas, por isso é importante usar o AXIS = 1 para deletar colunas
* Para modificar o dataframe sem ter que reatribuí-lo, utiliza-se o método INPLACE = true

In [51]:
df.drop('new', axis = 1, inplace = True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Localização de elementos

### loc

In [52]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [53]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965

### iloc

In [54]:
df.iloc[1:4, :]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [55]:
df.iloc[1:2, 1:2]

          X
B -0.319318