In [3]:
import numpy as np
import pandas as pd

# Simulando uma planilha de um campeonato de futebol

In [17]:
columns = ['j', 'gp', 'gc', 'sg', 'd', 'e', 'v', 'pts']
columns

['j', 'gp', 'gc', 'sg', 'd', 'e', 'v', 'pts']

In [18]:
index = ['Corinthians', 'Palmeiras', 'Vasco', 'São Paulo', 'Flamengo']
index

['Corinthians', 'Palmeiras', 'Vasco', 'São Paulo', 'Flamengo']

In [19]:
data = [[10, 15, 2, 13, 1, 2, 7, 23], [10, 17, 7, 10, 2, 3, 5, 18], [10, 10, 4, 6, 3, 2, 5, 17], [10, 9, 3, 6, 4, 0, 6, 18], [10, 20, 10, 10, 5, 0, 5, 15]]
data

[[10, 15, 2, 13, 1, 2, 7, 23],
 [10, 17, 7, 10, 2, 3, 5, 18],
 [10, 10, 4, 6, 3, 2, 5, 17],
 [10, 9, 3, 6, 4, 0, 6, 18],
 [10, 20, 10, 10, 5, 0, 5, 15]]

# Criando dataframe

In [20]:
df = pd.DataFrame(data = data, index = index, columns = columns).sort_values(by = ['pts'], ascending=False)
df

              j  gp  gc  sg  d  e  v  pts
Corinthians  10  15   2  13  1  2  7   23
Palmeiras    10  17   7  10  2  3  5   18
São Paulo    10   9   3   6  4  0  6   18
Vasco        10  10   4   6  3  2  5   17
Flamengo     10  20  10  10  5  0  5   15

In [21]:
df.loc[['Corinthians', 'Flamengo']]

              j  gp  gc  sg  d  e  v  pts
Corinthians  10  15   2  13  1  2  7   23
Flamengo     10  20  10  10  5  0  5   15

In [22]:
df[df['pts']>=18]

              j  gp  gc  sg  d  e  v  pts
Corinthians  10  15   2  13  1  2  7   23
Palmeiras    10  17   7  10  2  3  5   18
São Paulo    10   9   3   6  4  0  6   18

In [24]:
df[(df['gp']>=12) & (df['gc'] <= 10)]

              j  gp  gc  sg  d  e  v  pts
Corinthians  10  15   2  13  1  2  7   23
Palmeiras    10  17   7  10  2  3  5   18
Flamengo     10  20  10  10  5  0  5   15